<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Graffiti Art Hub</title>
  </head>
  <body>
    <h1 style="
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 50px;
      font-weight: bolder;
      ">Graffiti Art Hub</h1>
    <img style="
      border-radius: 40px;
      align-content: center;s
      " 
      src="https://8fff15fa-0476-4db3-9c68-0c0c6fac3070-00-10ii9nrk4b4hz.janeway.replit.dev:5000/static/photo1.jpg" alt="Man painting" width="1200" height="500">"
  </body>
</html>